body{
    display: flex;
}

.errores{
    background-color: grey;
    color: crimson;
    border: solid 1px red;
}

.botones{
    border-radius: 3px;
    background-color: dodgerblue;
    color: white;
}

.botones:disabled{
       background-color: rgb(253, 177, 34);
       color: black;
}

.municipio{
    text-transform: uppercase;
}

.barra_nav{
    width: 100%;
}

.goback{

}

.next{

}